{% extends 'company/base.html' %}
{% block title_block %} index {% endblock %}
{% block sit_content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Symbol</th>
                <th>ScripCode</th>
            </tr>
        </thead>
        <tbody>
            {% for c in comp %}
            <tr>
                <td>{{ c.company_name }}</td>
                <td>{{ c.symbol }}</td>
                <td>{{ c.scripcode }}</td>
                <td>
                    <form action="{% url 'add_to_watchlist' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="company_name" value="{{ c.company_name }}">
                      <input type="hidden" name="symbol" value="{{ c.symbol }}">
                      <input type="hidden" name="scripcode" value="{{ c.scripcode }}">
                      <button type="submit" class="btn btn-primary">Add to Watchlist</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
