{% extends 'company/base.html' %}
{% block title_block %} Watchlist {% endblock %}
{% block sit_content %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Symbol</th>
                <th>ScripCode</th>
            </tr>
        </thead>
        <tbody>
            {% for c in comp %}
            <tr>
                <td>{{ c.company_name }}</td>
                <td>{{ c.symbol }}</td>
                <td>{{ c.scripcode }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}